__pycache__/functions.cpython-37.pyc
__pycache__/functions.cpython-39.pyc
functions/__pycache__/config.cpython-39.pyc
functions/__pycache__/periodicHandler.cpython-39.pyc
functions/__pycache__/sensors.cpython-39.pyc
