functions/__pycache__/config.cpython-39.pyc
functions/__pycache__/experimentHandler.cpython-39.pyc
functions/__pycache__/frames.cpython-39.pyc
functions/__pycache__/measurementHandler.cpython-39.pyc
functions/__pycache__/periodicHandler.cpython-39.pyc
functions/__pycache__/sensors.cpython-39.pyc
functions/__pycache__/stirrer.cpython-39.pyc
