<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="Liveview for sensor data">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <!---
    <script src="{{url_for('static',filename='node_modules/plotly.js-dist/plotly.js')}}" charset="utf-8"></script>
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
    --->
  <script src="{{url_for('static',filename='node_modules/plotly.js-dist/plotly.js')}}" charset="utf-8"></script>

</head>

<body>

  <p>Sensor Data</p>
  <button id="b_start">START</button>
  <button id="b_stop">STOP</button>
  <button id="b_reset">RESET</button>
  <br>
  <div class="labels">Massflow cold: </div>
  <div class="values" id="div_mass_cold">0</div>
  <br>
  <div class="labels">Masslfow warm: </div>
  <div class="values" id="div_mass_warm">0</div>
  <div class="chart" id="plot"></div>
  <label for="rpm_stirrer">Drehzahl Rührer [RPM]</label>
  <input type="range" id="rpm_stirrer" min="30" max="120" value="30">
  <button id="b_start_stirrer">START Stirrer</button>
  <button id="b_update_stirrer">UPDATE Stirrer</button>
  <button id="b_stop_stirrer">STOP Stirrer</button>
  <div id="div_stirrer"></div>


  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>